{% extends "paginas/base.html" %}

{% block titulo %} Sobre el emprendimiento {% endblock %}

{% block Contenido %} 

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morrison Maps</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        <br>
        Sobre el emprendimiento
      </h1>
    <td>
        <img src="{{MEDIA_URL}}/imagenes/Logo.png" width="100" alt="" srcset="">
    </td>
    </br>
      <p class="subtitle">
        Morrison Maps se creó en 2020 a raíz de la pandemia por COVID-19.
        Lucía Fernández, su creadora, la ideo con el fin de dar respuesta a las necesidades de los clientes a la hora de realizar trabajos.
    </div>

  </section>
  Autora: Lucia Margarita Fernandez
<div>
    <br>
  Pagina web creada el 24 de abril de 2023
</div>
  </body>

</html>

{% endblock %}